<div class="container">
 <div class="row mt-5">
  <div class="col-md-12">
   <h2>注文履歴詳細</h2>
    <table>
      <tr>
        <th width="100" height="50">購入者</th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th width="100" height="50">注文日</th>
        <td><%= @order.created_at %></td>
      </tr>
      <tr>
        <th width="100" height="50">配送先</th>
        <td>
          <br>
          〒<%= @order.postal_code %>
          <%= @order.address %>
          <p><%= @order.name %></p>
        </td>
      </tr>
      <tr>
        <th width="100" height="50">支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
     </table>
     </div>
     </div>
     <div class="row mt-3" >
     <div class="col-md-8">
     <table class="table">
       <thead class="thead-light">
        <tr>
         <th scope="col">商品名</th>
         <th scope="col">単価（税込）</th>
         <th scope="col">数量</th>
         <th scope="col">小計</th>
        </tr>
       </thead>
       <tbody>
        <tr>
          <td>
            <% @order.order_details.each do |order_detail| %>
           <p>
             <%= order_detail.item.name %>
           </p>
          <% end %>

          </td>
          <td>
           <% @order.order_details.each do |order_detail| %>
           <p>
             <%= order_detail.item.price %>
           </p>
          <% end %>
          </td>
          <td>
           <% @order.order_details.each do |order_detail| %>
           <p>
             <%= order_detail.amount %>
           </p>
          <% end %>
          </td>
          <td>
            <% @order.order_details.each do |order_detail| %>
           <p>
             <%= order_detail.amount*order_detail.item.price %>
           </p>
          <% end %>
          </td>
        </tr>
        </tbody>
      </table>
     </div>
     <div class="col-md-4">
      <p><h4>商品合計</h4>
      <%= @order.total_payment %>円
      </p>
      <p><h4>送料</h4>
      800円
      </p>
      <p><h4>請求金額合計</h4>
      <%= @order.total_payment += 800 %>円
      </p>
     </div>

  </div>
</div>