<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-3"><span><h2>　注文履歴一覧</span></h2></div>
  </div>
  <div class="row mt-3">
     <table border="1" width="100%" height="150">
      <tr bgcolor="lightslategray">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>注文詳細</th>
      </tr>
      <% @order.each do |order| %>
      <tr>
        <td>
         <%= order.created_at.strftime('%Y/%m/%d') %>       
        </td>
        <td>
        〒<%= order.postal_code %><br>
        <%= order.address %><br>
        <%= order.name %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
           <p>
             <%= order_detail.item.name %>
           </p>
          <% end %>
        </td>
        <td><%= order.total_payment %>円</td>
        <td><%= link_to "表示する", public_order_path(order), class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>



