<div class="container">
 <div class="row">
  <div class="col-md-1"></div>
   <div class="col-md-8 mt-5">
    <h2><span class="bg-generally">注文情報確認</span></h2>
   </div>
   <div class="col-md-3 mt-5">
   </div>
   </div>

   <div class="row mt-5">
    <div class="col-md-6">
     <table border="1" width="100%" height="150">
      <tr bgcolor="lightslategray">
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
      </tr>
      <% @cart_items.each do |cart_item| %>
       <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal%></td>
            <% @total += cart_item.subtotal %>
       </tr>
       <% end %>
       </table>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
      <table border="1" width="100%" height="120">
          <tr><th bgcolor="lightslategray">送料</th><td>800</td></tr>
          <tr><th bgcolor="lightslategray">商品合計</th><td><%= @total %></td></tr>
          <tr><th bgcolor="lightslategray">請求金額</th><td><%= @total += 800 %></td></tr>
      </table>
     </div>
     </div>
     <br>
     <h5>支払い方法</h5>
     <%= @order.payment_method_i18n %><br><br>
      <h5>お届け先</h5>
      〒<%= @order.postal_code %>
      <%= @order.address %><br>
      <%= @order.name %>
      <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-7 mt-5">
       <%= form_with model: @order, url:public_orders_path, local: true do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :postal_code%>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :total_payment, value: @total %>
      <%= f.submit '注文を確定する' ,class:"btn btn-success" %>
      </div>
     <% end %>
      </div>
     </div>

   </div>
  </div>
</div>



